
#main-nav {
   grid-row: 1;

   position: sticky;
   top: 0;
   z-index: var(--z-nav);

   height: var(--grid-cell-size);
   background-color: var(--nav-background-color);
   box-shadow: 0 calc(var(--grid-cell-size) / 12) 0 calc(var(--grid-cell-size) / 12) var(--shadow-color);

   font-size: var(--font-size-small);
   font-weight: var(--font-weight-medium);


   ul {
      margin: 0;
      padding: 0;

      list-style: none;


      grid-column: 2 / -2;
      display: flex;
      flex-direction: row;
      align-items: stretch;


   }

   li {

      margin-right: var(--spacing-half);
      display: flex;
      align-items: center;

      text-box-edge: cap alphabetic;
      text-box-trim: trim-both;

      align-items: center;
   }

   a {
      text-decoration: none;

      color: var(--nav-text-color);
   }
}

[data-section="about"] {
   li.about {
      box-shadow: inset 0 -3px 0 var(--key-color);
   }
}

[data-section="blog"] {
   li.blog {
      box-shadow: inset 0 -3px 0 var(--key-color);
   }
}

[data-section="work"] {
   li.work {
      box-shadow: inset 0 -3px 0 var(--key-color);
   }
}

[data-section="colophon"] {
   li.colophon {
      box-shadow: inset 0 -3px 0 var(--key-color);
   }
}

#toggle-theme {
   color: var(--nav-text-color);
   margin-left: auto;
   font-weight: var(--font-weight-medium);

   user-select: none;
   cursor: pointer;
}

:where(.home) {
   #main-nav {
      box-shadow: none;
   }
}


@media (max-width: 880px) {
   #main-nav {

      top: unset;
      bottom: var(--spacing-triple);

      z-index: var(--z-overlay);

      grid-row: 2;

      height: var(--nav-height);
      font-size: var(--font-size-body);
      overflow-y: auto;
      box-shadow: 0 calc(var(--spacing-half) * -1) 0 var(--shadow-color);

      ul {
         height: var(--nav-height);
      }

      li {
         margin-right: var(--spacing-full);
      }
   }

   :where(.home) {



      #main-nav {
         grid-row: 2;
         top: unset;
         bottom: 0;
         margin-left: 2px;
         box-shadow: none;
      }
   }

}
