body {
   background-image:
      radial-gradient(circle at center, #ccc 4px, transparent 4px),
      linear-gradient(to right, #ccc 1px, transparent 1px),
      linear-gradient(to bottom, #ccc 1px, transparent 1px);
   background-size: 100px 100px;
   background-position: 50px 50px, 0 0, 0 0;
   overscroll-behavior: none;
}

article {
   width: clamp(35ch, 70%, 65ch);
   font-size: 1.25rem;
   margin: 0 auto;

   h1 {
      text-wrap: pretty;
   }

   blockquote {
      text-wrap: pretty;
      font-style: italic;
   }

   figure {

      img {
         max-width: 100%;
      }

      figcaption {
         font-size: 85%;
      }
   }
}
