article {
   width: clamp(35ch, 70%, 65ch);
   font-size: 1.25rem;
   margin: 0 auto;

   h1 {
      text-wrap: pretty;
   }

   blockquote {
      text-wrap: pretty;
      font-style: italic;
   }

   figure {

      img {
         max-width: 100%;
      }

      figcaption {
         font-size: 85%;
      }
   }
}
