article {
   width: clamp(35ch, 70%, 65ch);
   font-size: 1.25rem;
   margin: 0 auto;

   figure {
      padding: 0;
      margin: 0;

      img {
         max-width: 100%;
      }

      figcaption {
         font-size: 85%;
      }

   }
}
