

@media (max-width: 880px) {
   :root {
      --grid-cell-size: 1.5rem;
      --grid-dot-size: 1px;

      --nav-height: calc(var(--grid-cell-size) * 2);
   }

   body {
      display: grid;
      padding: 0;
      margin: 0;
      grid-template-rows: 1fr var(--nav-height) auto;
      height: 100dvh;

   }


   #header {
      position: sticky;
      bottom: 0;
      top: unset;
      grid-row: 3;
      box-shadow: none;

      #masthead {
         grid-row: 2;
      }

      h1 {
         font-size: 2.2rem;
         line-height: .9;
      }

      h2 {
         font-weight: 500;
         margin-top: 1rem;
         font-size: 1.05em;
      }
   }

   #masthead {
      grid-row: 5;
   }

   #main-nav {
      position: sticky;
      top: unset;
      bottom: 0;

      z-index: 500;

      grid-row: 2;

      height: var(--nav-height);
      font-size: .975rem;
      overflow-y: auto;
      box-shadow: 0 calc((var(--grid-cell-size) / 2) * -1) 0 var(--content-background-color);

      ul {
         height: var(--nav-height);
      }
   }

   :where(.home) {

      #header {
         top: 0;
         bottom: unset;


         h1 {
            font-size: 4rem;
            line-height: .9;
         }

         h2 {
            font-weight: 500;
            margin-top: 1rem;
            font-size: 1.05em;
         }
      }

      #main-nav {
         top: unset;
         bottom: 0;
      }

   }


   #playground {
      grid-row: 15 / -3;
   }



   #content {
      grid-row: 1;
      overflow: auto;
   }

   article {
      grid-template-rows: auto 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "header" "main";

      font-size: 1.25rem;

      header {
         border-top: calc(var(--content-border-width) * 2) solid var(--content-border-color);

         h1 {
            font-size: calc(var(--grid-cell-size) * 1.1);
            line-height: 1.1;
            margin: 0 0 calc(var(--grid-cell-size) / 15) 0;

         }
      }

      .article-content {
         padding-block: calc(var(--grid-cell-size) / 2);
      }


   }
}
