@media (max-width: 880px) {





   #masthead { grid-row: 2; }

   :where(.home) {





   }





   #content {
      grid-row: 1;
   }

   article {
      grid-template-rows: auto 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "header" "main";

      font-size: 1.25rem;

      header {
         border-top: calc(var(--content-border-width) * 2) solid var(--content-border-color);

         h1 {
            font-size: calc(var(--grid-cell-size) * 1.1);
            line-height: 1.1;
            margin: 0 0 calc(var(--grid-cell-size) / 15) 0;

         }
      }

      .article-content {
         padding-block: var(--spacing-half);

         p {
            font-size: var(--font-size-medium);
            line-height: 25px;
            margin-bottom: var(--grid-cell-size);
         }
      }


   }
}
