
*,
*::before,
*::after {
   box-sizing: border-box;
}

::selection {
   background-color: var(--key-color);
   color: var(--text-color);
}


@view-transition {
   navigation: auto;
}

html {
   overscroll-behavior: none;
}

body {
   color-scheme: light dark;

   display: grid;
   grid-template-rows: var(--grid-cell-size) 1fr auto;
   height: 100dvh;
   width: 100dvw;


   padding: 0;
   margin: 0;

   font-family: "Graphik", "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;

   background-color: var(--content-background-color);
}

:where(h1, h2, h3) {
   text-wrap: pretty;
}

:where(#header, #playground, #main-nav) {
   display: grid;
   grid-column: 1 / -1;
   grid-template-columns: repeat(auto-fill, var(--grid-cell-size));
   grid-template-rows: repeat(auto-fill, var(--grid-cell-size));
}

#content {
   grid-row: 2;
   grid-column: 1 / -1;
   padding: var(--grid-cell-size);
   background-color: var(--content-background-color);
   color: var(--text-color);
}


a {
   text-decoration: underline;
   text-decoration-thickness: 2px;
   text-underline-offset: 2px;
   text-decoration-color: var(--text-color);
   color: var(--text-color);

}

a:hover {
   text-decoration: underline;
   text-decoration-color: var(--key-color);
   text-decoration-thickness: 1px;
   color: var(--text-color);

}
